@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:wght@700&display=swap');


h1,h2,h3,h4,h5,h6{
    font-family:'Libre Baskerville', serif;
    
}

p{
    font-family: 'Lato', sans-serif;
}

.full-height{
    height: 100vh;
}

button{
    border: none;
    padding: 16px;
    border-radius: 8px;
    background-color: green;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;

}

/* Navbar */

.nav-link{
    font-family: 'Lato', sans-serif;
    color: rgba(0, 0, 0, 0.6);
}

.nav-link :hover{
    color: green;
}

.nav-link.active{
    border-bottom: 2px solid;
    color: green;
}


.carousel-item{
    background-color: #E6F2E9;
}

.carousel-control-next, .carousel-control-prev{
    top: auto;
    right: auto;
    left: 24px;
    bottom: 24px;
    width: auto;
    background-color: wheat;
    padding: 12px;
    border-radius: 50%;
}

.carousel-control-next{
    left: 84px;
}

/* Card */
.card{
    border-radius: 150px 150px 12px 12px;
    background: beige;
    text-align: center;
    border: none;
    height: 440px;
}

.card-img-top{
    width: auto;
    height: 320px;
    margin: auto;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-text{
    color: green;
}

.card-img-top.small{
    height: 200px;
}


.hero-image{
    height: 90vh;
    position: relative;
    bottom: -100px;
}

.card1{
    margin-left: 200px;
    margin-right: 600px;
    margin-top: 70px;
}

.card2{
    margin-left: 200px;
    margin-right: 600px;
    margin-top: 10px;
}

.card3{
    margin-left: 200px;
    margin-right: 600px;
    margin-top: 10px;
    margin-bottom: 70px;
}

.btn{
    margin-top: -15px;
    width: 100%;
    height: 150px;
    
}

h6{
    margin-left: 10px;
    margin-bottom: 10px;
    float: center;
}

